/* Color Theme Swatches in RGBA */
.Teals-1-rgba { color: rgba(15, 194, 192, 1); }
.Teals-2-rgba { color: rgba(12, 171, 168, 1); }
.Teals-3-rgba { color: rgba(0, 143, 140, 1); }
.Teals-4-rgba { color: rgba(1, 89, 88, 1); }
.Teals-5-rgba { color: rgba(2, 53, 53, 1); }

/* Color Theme Swatches in RGBA */
.Teal-and-Gray-1-rgba { color: rgba(0, 116, 124, 1); }
.Teal-and-Gray-2-rgba { color: rgba(0, 186, 200, 1); }
.Teal-and-Gray-3-rgba { color: rgba(202, 202, 202, 1); }
.Teal-and-Gray-4-rgba { color: rgba(135, 135, 135, 1); }
.Teal-and-Gray-5-rgba { color: rgba(31, 31, 33, 1); }

/* Color Theme Swatches in RGBA */
.color1 { color: rgba(18, 114, 105, 1); }
.color2 { color: rgba(15, 63, 58, 1); }
.color3 { color: rgba(137, 165, 162, 1); }
.color4 { color: rgba(75, 89, 87, 1); }
.color5 { color: rgba(191, 191, 191, 1); }
