@font-face {
    font-family: "Freeman";
    src: url("../fonts/Freeman-Regular.ttf");   
}
.alto{
    font-family: "Bebas Neue", sans-serif;
    src: url("../fonts/BebasNeue-Regular.ttf");
    margin-top: 5rem ;
}
/* Barra de navegación */

.barra{
    font-size: 16px;
    font-family:"Freeman" ;
    background-color: rgba(202, 202, 202, 1); ;
    border-radius:0px 0px 15px 15px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 4rem;
}
.items{
    justify-content: center;
    
}
.items ul{  
    grid-column: 3 / 1;
    align-items: center;
}
.items li{
    padding-left: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.items li :hover{
    background-color: rgb(198, 198, 198);;
    border-radius:10px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding-top: 10px;
}
.logo h2{
   color: #059C3F;    
}
.boton {
    font-size: 18px;
    padding: 8px;
    text-decoration: none;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 5px rgba (0, 0, 0, 0.3);
    color: rgb(256, 256, 256);
    margin-top: 2px;
}
.login {
    background-color:#059C3F ;
    border-color: #059C3F;    
    border-radius:20px 0px 0px 0px;
}
.signup{
    background-color:#059c3f78;
    border-color: #059c3f78;    
    border-radius:0px 0px 20px 0px;
}

/* Modulo restaurantes*/
.tit-restaurantes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont-tarjeta{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.lateral-izq{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: column;
}
.tarjeta{
    margin: 10px;
    background-color:rgba(255,255,255,0.5);
    max-height: 250px;
}
.imagen{
    border-radius: 10px;
    max-height: 80%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.contenedor-tarjetas{
    display: grid;
    grid-template-columns: repeat(3, 10fr);
}
.card{
    margin: 4px 4px 4px 0px;
}
.img-home{
    width: 100%;
    border-radius: 2rem 2rem 0rem 0rem;
}
.titulo-tarjeta-home{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255); 
    margin:5px 0px;
}
.texto{
    color:azure;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}
.card{
    justify-content: space-between;
  }
/* PAG RESTAURANTE X ID*/
.restaurant{
    display: grid;
    grid-template-columns: repeat(3, 10fr);
}
.img-rest{
    width: 80%;
    border-radius: 1rem;
    box-shadow: 5px 5px rgba(69, 69, 69, 0.491);
    margin: 10px 0px ;
}
.rest1{
    margin: 10px 10px 10px 15px ;
    display: flex;
    flex-direction: column;
    border: rgb(224, 223, 223) 3px solid;
    border-radius: 1rem;
    /*background-color:rgb(187, 186, 186) ;*/
    box-shadow: 5px 5px rgba(113, 113, 113, 0.655);
}
.titluo-1{
    padding-left: 15px;
    
    }
.titulo-calificacion{
    padding-left: 15px;
    height: 25px;
    font-size: 20px;
}
.contenido-1{
    padding-left: 20px;
    
}
.rest-calificacion{
    display: grid;
    grid-template-columns: 1fr 2fr ;
}
.campos-calificaciones{
    display:flex;
}
.opiniones{
    padding-top: 10px;
}


@media (max-width: 760px){
    .logo a{
        padding-top:0px ;
    }
    .boton{
        border-radius:20px;
    }
    .tarjeta{
        margin: 10px;
        background-color:rgba(0,255,255,0.5);
        max-height: 600px;
    }
    .imagen{
        border-radius: 10px;
        max-height: 100%;
        max-width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cont-tarjeta{
        background-color: black;
    }

}
