.tarjeta{
    margin: 10px;
    background-color:rgba(255,255,255,0.5);
    max-height: 250px;
}
.imagen{
    border-radius: 10px;
    max-height: 80%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;

}
@media (max-width: 760px){
    .tarjeta{
        margin: 10px;
        background-color:rgba(0,255,255,0.5);
        max-height: 600px;
    }
    .imagen{
        border-radius: 10px;
        max-height: 100%;
        max-width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}